body{
    background-color: rgb(178, 193, 223);
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.one{
    text-align: center;
    top: 40%;
    font-size: 100px;
}
.a:hover, .a:active {
  background-color: rgb(178, 193, 223);
  color: white;
  border: 10px double white;
}
.a{
  background-color: white;
  color: rgb(178, 193, 223);
  border: 10px double rgb(178, 193, 223);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: 40px;
  right: 40%;
  position: absolute;
  max-height: 60px;
  maz-wight: 200px;
}
.question{
    text-align: center;
    top: 40%;
    font-size: 50px;
}
.container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;        
      height:1000px;
      width: 90%;
      max-width: 600px;
      margin: auto;
    }

    .item {
      width: 49%;
      height: 45%;
      margin: 5px;
      background-color: white;
      border: 10px double rgb(178, 193, 223);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      font-family: sans-serif;
      color: rgb(178, 193, 223);
      font-size: 20px;
      text-decoration: none;
    }
    .item:hover {
      background-color: rgb(178, 193, 223);
      border: 10px double white;
      color:white;
    }

    img{
      height: 99%;
      width: 99%;
    }




    #toggle {
      display: none;
    }

    label {
      display: inline-block;
      padding: 10px 20px;
      background-color: white;
      color: rgb(178, 193, 223);
      cursor: pointer;
      border: 10px double rgb(178, 193, 223);
      right:45%;
      position: absolute;
    }

    .hidden-text {
      display: none;
      top: 200px;
      padding: 10px;
      position: absolute;
    }

    #toggle:checked + label + .hidden-text {
      display: block;
    }

label:hover {
      display: inline-block;
      background-color: rgb(178, 193, 223);
      color: white;
      cursor: pointer;
      border: 10px double white;
      width: 100%;
      padding: 12px;
      font-size: 1rem;
    }    
